<%- include ('../partials/head') %>
<%- include ('../partials/navbar') %>
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

* {
	box-sizing: border-box;
}

body {
	--h: 212deg;
	--l: 43%;
	--brandColor: hsl(var(--h), 71%, var(--l));
	font-family: Open Sans;
	margin: 0;
	background: #007991;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.sizze{
    height:100vh;
    width: 100vw;
}
</style>
<main>
    <center>
    <object class="sizze"
    data=
"magenta-carol-jean-5.tiiny.site"
height="1000%"
width="50%">
</object>
    </center>
</main>