<%- include ('../partials/head') %>
<%- include ('../partials/navbar') %>

<style>
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
	box-sizing: border-box;
}

body {
	--h: 212deg;
	--l: 43%;
	--brandColor: hsl(var(--h), 71%, var(--l));
	font-family: Montserrat, sans-serif;
	margin: 0;
	background: #007991;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
p {
	margin: 0;
	line-height: 1.6;
}

ol {
	list-style: none;
	counter-reset: list;
	padding: 0 1rem;
}

li {
	--stop: calc(100% / var(--length) * var(--i));
	--l: 62%;
	--l2: 88%;
	--h: calc((var(--i) - 1) * (180 / var(--length)));
	--c1: hsl(var(--h), 71%, var(--l));
	--c2: hsl(var(--h), 71%, var(--l2));
	border-radius: .3rem;

}

li::before {
	content: '';
	display: block;
	width: 100%;
	height: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop));
	border-top-left-radius: .27rem;
	border-top-right-radius: .27rem;

}
h2 {
	display: flex;
	align-items: baseline;
	margin: 0 0 1rem;
	color: rgb(70 70 70);
    font-size: smaller;
}
h3 {
	display: flex;
	align-items: baseline;
	margin: 0 0 1rem;
	color: rgb(70 70 70);
}

h3::before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 1rem;
	width: 3rem;
	height: 3rem;
	content: counter(list);
	padding: 1rem;
	border-radius: 50%;
	background-color: var(--c1);
	color: white;
}

@media (min-width: 40em) {
	li {
	border-radius:.3rem;

	}

    h2 {
		font-size: smaller;
	}
	
	h3 {
		font-size: 2.25rem;
		margin: 0 0 2rem;
	}
	
	h3::before {
		margin-right: 1.5rem;
	}
}
</style>

<main>
	<ol style="--length: 3" role="list">
		<li style="--i: 6; background-color: white;  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3); 
		padding: 2rem 1rem 1rem; margin: 2rem auto;	max-width: 45rem; 	position: relative; counter-increment: list;  ">
			<h3>BLAST Lab</h3>
            <h2>RA for Interactive Coding Systems , (Winter 2024 - Present)            </h2>
			<p >Assisting with adaptation and creation of a website to help laypeople utilize a searching, and learning, algorithm to find their 
				intended information. 
            </p>
			<br>
			<a href="https://blast-cu.github.io/" target="_blank" rel="noopener noreferrer" class="fa-solid fa-user" aria-hidden="true"> Website</a>
		</li>
		<li style="--i: 8; background-color: white;  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3); 
		padding: 2rem 1rem 1rem; margin: 2rem auto;	max-width: 45rem; 	position: relative; counter-increment: list;  ">
			<h3>Take MAR</h3>
            <h2>Intern, (Winter 2024 - Present)            </h2>
			<p >Assisted the orginisation with a variety of item including the creation and organisation of fundraising events.
            </p>
			<br>
			<a href="https://takemar.org/maksim-seniw" target="_blank" rel="noopener noreferrer" class="fa-solid fa-user" aria-hidden="true"> Website</a>
		</li>
		<li style="--i: 5; background-color: white;  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3); 
		padding: 2rem 1rem 1rem; margin: 2rem auto;	max-width: 45rem; 	position: relative; counter-increment: list;  ">
			<h3>Buffalo Wild Wings</h3>
            <h2>Host and Server, (Spring 2022 - Fall 2022)            </h2>
			<p >Serving as a Server gave me an opportunity to better appreciate and understand how to connect with and sell to customers.
            </p>
		</li>
		<li style="--i: 4; background-color: white; border-radius: .25rem; box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3); 
		padding: 2rem 1rem 1rem; margin: 2rem auto;	max-width: 45rem; 	position: relative; counter-increment: list;  ">			
        <h3>BEST Robotics </h3>
        <h2>Coding Team Lead, (Fall 2021)
        </h2>
			<p>Assisted the coding team in STEM BEST Robotics through writing segments of our robot's code, in Python, that would help it navigate various obstacles set throughout the competition course.
            </p>

		</li>
		<li style="--i: 3; background-color: white; border-radius: .25rem; box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3); 
		padding: 2rem 1rem 1rem; margin: 2rem auto;	max-width: 45rem; 	position: relative; counter-increment: list;  ">			
        <h3>BEST Robotics</h3>
        <h2>Presentation and Marketing Lead, (Fall 2021)        </h2>
			<p>Lead the presentation team of STEM BEST Robotics; a team that would be awarded #1 at the state competition level and go on to compete at the national level.
            </p>

		</li>

	</ol>
</main>