<%- include ('../partials/head') %>
<%- include ('../partials/navbar') %>
<main>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">           
            <div class="col-md-7">               
                <div class="card p-3 py-4">                 
                    <div class="text-center">
                        <img src="https://i.ibb.co/QvFtmhft/rescaled.jpg" alt="rescaled" border="0"
                        width="125" class="rounded-circle">
                    </div>              
                    <div class="text-center mt-3">
                        <h5 style="font-weight:600;">Maksim Seniw</h5>
                        <span>Software Engineer and Release Manager </span>
                        
                        <div class="px-4 mt-1">
                            <p class="fonts">
                                Hi! I am a Software Engineer at Spectrum and a recent graduate from CU Boulder.
                                My proficiencys include, but are not limited to, Python,
                                Flask, C++, JavaScript, SQL/NoSQL, Docker, Node.js, 
                                Git/GitHub, various cybersecurity tools, REST APIs, 
                                web development frameworks, JIRA, system automation, vulnerability assessment, and 
                                full-stack project deployment. 
                                My experience is displayed throughout this website in various pages.
                            </p>                      
                        </div>                       
                            <ul class="social-list">
                            <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=maksimseniw@gmail.com"  target="_blank" rel="noopener noreferrer" class="fa fa-google" aria-hidden="true"></a></li>
                            <li><a href="https://www.linkedin.com/in/maksim-seniw/"  target="_blank" rel="noopener noreferrer" class="fa fa-linkedin" aria-hidden="true"></a></li>
                            <li><a href="https://github.com/MaksimSeniw"  target="_blank" rel="noopener noreferrer" class="fa fa-github" aria-hidden="true"></a></li>
                            <li><a href="https://www.researchgate.net/publication/383236042_Studying_the_Effects_of_Collaboration_in_Interactive_Theme_Discovery_Systems" target="_blank" rel="noopener noreferrer" class="fa fa-book" > 
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
