<%- include ('../partials/head') %>
<%- include ('../partials/navbar2') %>

<main>
	<ol style="--length: 3" role="list">
		<li style="--i: 7; background-color: white; border-radius: .25rem; box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3); 
		padding: 2rem 1rem 1rem; margin: 2rem auto;	max-width: 45rem; 	position: relative; counter-increment: list;  ">
			<h3>Sunset Ranker</h3>
			<p >Sunset Ranker is a website where you can rank sunsets uploaded by other users.
				It is designed and created solely by me. When a user is not logged-in they can view 
				the home page, which displays the top five rated sunsets, and login or register.
				When logged in a user can upload a photo, edit their profile, view the ten newest sunsets, and 
				rate sunsets. The backend is a postgresSQL database with JavaScript routing, the frontend is a combination of CSS stylization and EJS.
				Currently not hosted live, but the code is available on my GitHub. 
			</p>
				<br>
				<h2>Items Used: OOP, SQL, CSS, EJS, JS, HTML, Node.js</h2>
				<a href="https://github.com/MaksimSeniw/SunsetRanker" target="_blank" rel="noopener noreferrer" class="fa fa-sun" aria-hidden="true"></a>
		</li>
		<li style="--i: 3; background-color: white; border-radius: .25rem; box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3); 
		padding: 2rem 1rem 1rem; margin: 2rem auto;	max-width: 45rem; 	position: relative; counter-increment: list;  ">
			<h3>HatHub</h3>
			<p >HatHub is a website immitating e-commerce with the sale of various hats. When the user 
                loads up the website they will be prompted to login or register. If they are a new user
                they will register; the data from that registration will be stored within the SQL database so the user
                can login and have their profile created. Further, the user can add hats to their shopping cart and place an order.
                They will then get an email confirmation sent to the email they registered with. Stylization was done with CSS.</p>
				<br>
				<h2>Items Used: SQL, CSS, EJS, JS, MailJet, HTML, Docker Containerization, Node.js</h2>
				<a href="https://github.com/MaksimSeniw/HatHub" target="_blank" rel="noopener noreferrer" class="fa fa-github" aria-hidden="true"></a>
		</li>
		<li style="--i: 4; background-color: white; border-radius: .25rem; box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3); 
		padding: 2rem 1rem 1rem; margin: 2rem auto;	max-width: 45rem; 	position: relative; counter-increment: list;  ">			<h3>Hydration Tracker</h3>
			<p>A python program that would send out an automated email to the intended recipient 
				asking how much water they had drank at the current point in the day. 
				Then, once the user responds to the email, the program would send an email back 
				telling the user how much more water they should drink to reach their hydration goal. 
				Recipient, hydration goal, and how often the email was sent out are fully customizable</p>
				<br>
				<h2>Items Used: Python, Imaplib</h2>
				<a href="https://github.com/MaksimSeniw/Hydration_Tracker" target="_blank" rel="noopener noreferrer" class="fa fa-github" aria-hidden="true"> </a>

		</li>
		<li style="--i: 5; background-color: white; border-radius: .25rem; box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3); 
		padding: 2rem 1rem 1rem; margin: 2rem auto;	max-width: 45rem; 	position: relative; counter-increment: list;  ">			<h3>Personal Website</h3>
			<p>I developed a portfolio website to strategically showcase and communicate my technical capabilities, professional experience, and key qualifications to collaborators and employers. 
				This interactive platform was created using a combination of CSS, EJS, JS. 
				The site features organized sections highlighting my projects, technical skills, educational background, and achievements,</p>
				<br>
				<h2>Items Used: CSS, JS, EJS, HTML, Node.js</h2>
				<a href="https://github.com/MaksimSeniw/Website_Resume" target="_blank" rel="noopener noreferrer" class="fa fa-github" aria-hidden="true"></a>

		</li>
	</ol>
</main>