<%- include ('../partials/head') %>
<%- include ('../partials/navbar2') %>

<main>
    <center>
    <object class="sizze"
    data=
"https://seniw-resume.tiiny.site/"
height="1000%"
width="50%">
</object>
    </center>
</main>