<%- include ('../partials/head') %>
<%- include ('../partials/navbar2') %>
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

<style>
td {
  transform-origin: center;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
tr:hover td {
  background-color: lightseagreen;
  font-weight: bolder;
  color: white;
}

* { box-sizing: border-box }

table {
  width: 100%;
  text-align: left;
  box-shadow: .1rem;
  padding: 2rem 1rem 1rem; 
  margin: 2rem auto;	
  max-width: 45rem; 	
  border-radius: .25rem;
  border-color: black;
  background-color: whitesmoke;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
}
th, td {
  padding: 0.5em;
}
th{
    font-size:medium;
    font-weight: bold;
    background-color:rgba(0, 0, 0, 0.15);

}
tr:nth-child(even) {
   background-color:rgba(0, 0, 0, 0.05);
}
tr:nth-child(odd) {
   background-color:rgba(255, 244, 244, 0.05);
}


body {
  background: #007991;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* font-family: Open Sans; */

}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
</style>
<main>
  <div style="overflow-x:auto;">
    <div class="grid-container">
    <table>
        <thead>
          <tr>
            <th>Technical Skills</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>C</td>
          </tr>
          <tr>
            <td>C++</td>
          </tr>
          <tr>
            <td>Linux Kernel Programming</td>
          </tr>
          <tr>
            <td>JavaScript</td>
          </tr>
          <tr>
            <td>EJS</td>
          </tr>
          <tr>
            <td>MongoDB</td>
          </tr>
          <tr>
            <td>SQL</td>
          </tr>
          <tr>
            <td>Node.js</td>
          </tr>
          <tr>
            <td>CSS</td>
          </tr>
          <tr>
            <td>Python</td>
          </tr>
          <tr>
            <td>HTML</td>
          </tr>
          <tr>
            <td>Anaconda</td>
          </tr>
          <tr>
            <td>Hashcat</td>
          </tr>
          <tr>
            <td>Data Cleaning + Data Analysis</td>
          </tr>
          <tr>
            <td>Yaml</td>
          </tr>
          <tr>
            <td>LaTex</td>
          </tr>
          <tr>
            <td>TypeScript</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Relevant Classes</th>
            <th>Syllabus Link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>CSCI 4448 - Object-Oriented Analysis & Design </td>
            <td><a style="font-weight: bold; color: blue;" href="https://www.colorado.edu/cs/academics/courses/course-syllabi/csci-5448-object-oriented-analysis-and-design" target="_blank" rel="noopener noreferrer" >Syllabus</a></td>
          </tr>
          <tr>
            <td>CSCI 3753 - Design and Analysis of Operating Systems </td>
            <td><a style="font-weight: bold; color: blue;" href="https://catalog.colorado.edu/courses-a-z/csci/" target="_blank" rel="noopener noreferrer" >Syllabus</a></td>
          </tr>
          <tr>
            <td>CSCI 3155 - Principles of Programming Languages </td>
            <td><a style="font-weight: bold; color: blue;" href="https://catalog.colorado.edu/courses-a-z/csci/" target="_blank" rel="noopener noreferrer" >Syllabus</a></td>
          </tr>
          <tr>
            <td>CSCI 3304 - Algorithms </td>
            <td><a style="font-weight: bold; color: blue;"  href="https://www.colorado.edu/cs/cspb-3104-algorithms" target="_blank" rel="noopener noreferrer" >Syllabus</a></td>
          </tr>
          <tr>
            <td>CSCI 2824 - Discrete Structures</td>
            <td><a style="font-weight: bold; color: blue;"  href="https://www.colorado.edu/cs/cspb-2824-discrete-structures" target="_blank" rel="noopener noreferrer" >Syllabus</a></td>
          </tr>
          <tr>
            <td>CSCI 3308 - Software Development</td>
            <td><a style="font-weight: bold; color: blue;"  href="https://www.colorado.edu/cs/cspb-3308-software-development-methods-and-tools" target="_blank" rel="noopener noreferrer" >Syllabus</a></td>
          </tr>
          <tr>
            <td>CSCI 2270 - Data Structures</td>
            <td><a style="font-weight: bold; color: blue;"  href="https://www.colorado.edu/cs/cspb-2270-computer-science-2-data-structures" target="_blank" rel="noopener noreferrer" >Syllabus</a></td>
          </tr>
          <tr>
            <td>CSCI 16807 - Fundamentals of BioInformatics </td>
            <td><a style="font-weight: bold; color: blue;" href="https://aplicaciones.uc3m.es/cpa/generaFicha?est=350&asig=16807&idioma=2&anio=2024" target="_blank" rel="noopener noreferrer" >Syllabus</a></td>
          </tr>
          <tr>
            <td>CSCI 16488 - Data Base </td>
            <td><a style="font-weight: bold; color: blue;" href="https://aplicaciones.uc3m.es/cpa/generaFicha?est=350&asig=16488&idioma=2&anio=2024" target="_blank" rel="noopener noreferrer" >Syllabus</a></td>
          </tr>
          <tr>
            <td>CSCI 2400 - Computer Systems </td>
            <td><a style="font-weight: bold; color: blue;" href="https://www.colorado.edu/cs/cspb-2400-computer-systems" target="_blank" rel="noopener noreferrer" >Syllabus</a></td>
          </tr>
          <tr>
            <td>CSCI 3002 - Human Computer Interaction</td>
            <td><a style="font-weight: bold; color: blue;" href="https://catalog.colorado.edu/courses-a-z/csci/" target="_blank" rel="noopener noreferrer" >Syllabus</a></td>
          </tr>
          <tr>
            <td>CSCI 4240- Introduction to Blockchain </td>
            <td><a style="font-weight: bold; color: blue;" href="https://catalog.colorado.edu/courses-a-z/csci/" target="_blank" rel="noopener noreferrer" >Syllabus</a></td>
          </tr>
          <tr>
            <td>CSCI 1300 - Starting Computing</td>
            <td><a style="font-weight: bold; color: blue;"  href="https://home.cs.colorado.edu/~mozer/Teaching/syllabi/csci1300/syllabus.html" target="_blank" rel="noopener noreferrer" >Syllabus</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <table class="center">
        <thead>
          <tr>
            <th>MISC</th>
          </tr>
        </thead>
        <tbody>
          <tr>  
              <td>Experienced in Object-Oriented programming and methodologies; specifically with the Gang of Four Design Patterns</td>  
          </tr>   
          <tr>  
              <td>Working knowledge of NLP and qualitative analysis methodologies; co-authored research paper on collaborative theme discovery systems  
                  <a href="https://www.researchgate.net/publication/383236042_Studying_the_Effects_of_Collaboration_in_Interactive_Theme_Discovery_Systems" target="_blank" rel="noopener noreferrer" class="fa fa-book">  
                  </a>  
              </td>  
          </tr>  
          <tr>  
              <td>Proficient in Scala with practical experience in functional programming principles</td>  
          </tr>  
          <tr>  
              <td>Experienced in both SQL and NoSQL database systems, including schema design and query optimization</td>  
          </tr>  
          <tr>  
              <td>Applied knowledge of Agile and Waterfall project management methodologies in development workflows</td>  
          </tr>  
          <tr>  
              <td>Proficient in GitHub's repository management, including collaborative branch strategies and version control best practices</td>  
          </tr>  
          <tr>  
              <td>Working knowledge of Docker containerization for application deployment and environment standardization</td>  
          </tr>  
          <tr>  
              <td>Experience with Google Cloud SDK and App Engine for cloud-based application deployment</td>  
          </tr>  
          <tr>  
              <td>Skilled in Git for version control and team collaboration workflows in organizational settings</td>  
          </tr>  
          <tr>  
              <td>Understanding of C++ data structures with awareness of performance trade-offs and implementation considerations</td>  
          </tr>  
          <tr>  
              <td>Conversational fluency in Spanish</td>  
          </tr>  
          <tr>  
              <td>Basic proficiency in Russian</td>  
          </tr>  
      </tbody>  
      </table>
      </div>
</main>