<%- include ('../partials/head') %>
<%- include ('../partials/navbar2') %>

<main>
	<ol style="--length: 3" role="list">
		<li style="--i: 9; background-color: white;  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3); 
		padding: 2rem 1rem 1rem; margin: 2rem auto;	max-width: 45rem; 	position: relative; counter-increment: list;  ">
			<h3>Spectrum</h3>
            <h2>Software Engineer, (November 2025 - Present)            </h2>
			<p> Created and maintained internal web tools using Flask, Spring Boot, JS, and several API connections. 
				Created automation scripts in Python to assist with the web tools and data processing requests.
				Also currently working as a release manager responsible for coordinating code deployments and ensuring smooth releases.
            </p>
			<br>
		</li>
		<li style="--i: 7; background-color: white;  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3); 
		padding: 2rem 1rem 1rem; margin: 2rem auto;	max-width: 45rem; 	position: relative; counter-increment: list;  ">
			<h3>Liberty Media</h3>
            <h2>Integrated Technology Intern , (June 2024 - September 2024)            </h2>
			<p>Automated system configurations using Python scripts, reducing manual tasks by 40%. Assisted in cybersecurity protocols for VoIP, mobile, and printer/MFP OS platforms, resolving 30+ user tickets. 
				Conducted vulnerability assessments with Hashcat, identifying 15+ weak passwords and proposing SHA-256 migration.
            </p>
			<br>
		</li>
		<li style="--i: 6; background-color: white;  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3); 
		padding: 2rem 1rem 1rem; margin: 2rem auto;	max-width: 45rem; 	position: relative; counter-increment: list;  ">
			<h3>BLAST Lab</h3>
            <h2>RA for Interactive Coding Systems , (January 2024 - August 2024)            </h2>
			<p >Assisted research into the difference between asynchronous and synchronous coding on training LLM’s. 
				This resulted in a paper being published which studied the effects of collaboration in interactive theme 
				discovery systems. Additionally, I gained experience in Agile and Scrum workflows.
            </p>
			<br>
			<a href="https://www.researchgate.net/publication/383236042_Studying_the_Effects_of_Collaboration_in_Interactive_Theme_Discovery_Systems" target="_blank" rel="noopener noreferrer" class="fa fa-book" > 
				
			</a>
		</li>
		<li style="--i: 4; background-color: white; border-radius: .25rem; box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3); 
		padding: 2rem 1rem 1rem; margin: 2rem auto;	max-width: 45rem; 	position: relative; counter-increment: list;  ">			
        <h3>BEST Robotics </h3>
        <h2>Coding and Presentation Team Lead, (Fall 2021)
        </h2>
			<p>Assisted the coding team in STEM BEST Robotics through writing segments of our robot's code, in Python, that would help it navigate various obstacles set throughout the competition course. Further, 
				I led the presentation team of STEM BEST Robotics; a team that would be awarded #1 at the state competition level and go on to compete at the national level. 
            </p>

		</li>

	</ol>
</main>